/bin/Debug/netstandard1.6/DapperPoco.deps.json
/bin/Debug/netstandard1.6/Microsoft.EntityFrameworkCore.dll
/bin/Debug/netstandard1.6/Microsoft.EntityFrameworkCore.xml
/bin/Debug/netstandard2.0/DapperPoco.deps.json
/bin/Debug/netstandard2.0/DapperPoco.dll
/bin/Debug/netstandard2.0/DapperPoco.pdb
/bin/Debug/netstandard2.0/DapperPoco.xml
/bin/Debug/netstandard2.0/Jiesen.DapperPoco.deps.json
/bin/Debug/netstandard2.0/Jiesen.DapperPoco.dll
/bin/Debug/netstandard2.0/Jiesen.DapperPoco.pdb
/bin/Debug/netstandard2.0/Jiesen.DapperPoco.xml
/bin/Debug/netstandard2.0/Microsoft.EntityFrameworkCore.dll
/bin/Debug/netstandard2.0/Microsoft.EntityFrameworkCore.xml
/obj/DapperPoco.csproj.nuget.cache
/obj/DapperPoco.csproj.nuget.g.props
/obj/DapperPoco.csproj.nuget.g.targets
/obj/Debug/netstandard1.6/DapperPoco.AssemblyInfo.cs
/obj/Debug/netstandard1.6/DapperPoco.AssemblyInfoInputs.cache
/obj/Debug/netstandard1.6/DapperPoco.assets.cache
/obj/Debug/netstandard1.6/DapperPoco.csproj.CopyComplete
/obj/Debug/netstandard1.6/DapperPoco.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard1.6/DapperPoco.csproj.FileListAbsolute.txt
/obj/Debug/netstandard1.6/DapperPoco.csprojAssemblyReference.cache
/obj/Debug/netstandard1.6/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
/obj/Debug/netstandard1.6/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
/obj/Debug/netstandard1.6/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
/obj/Debug/netstandard2.0/DapperPoco.AssemblyInfo.cs
/obj/Debug/netstandard2.0/DapperPoco.AssemblyInfoInputs.cache
/obj/Debug/netstandard2.0/DapperPoco.assets.cache
/obj/Debug/netstandard2.0/DapperPoco.csproj.CopyComplete
/obj/Debug/netstandard2.0/DapperPoco.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard2.0/DapperPoco.csproj.FileListAbsolute.txt
/obj/Debug/netstandard2.0/DapperPoco.csprojAssemblyReference.cache
/obj/Debug/netstandard2.0/DapperPoco.dll
/obj/Debug/netstandard2.0/DapperPoco.pdb
/obj/Debug/netstandard2.0/DapperPoco.xml
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.AssemblyInfo.cs
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.AssemblyInfoInputs.cache
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.assets.cache
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.csproj.CopyComplete
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.csproj.CoreCompileInputs.cache
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.csproj.FileListAbsolute.txt
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.csprojAssemblyReference.cache
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.dll
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.pdb
/obj/Debug/netstandard2.0/Jiesen.DapperPoco.xml
/obj/Jiesen.DapperPoco.csproj.nuget.cache
/obj/Jiesen.DapperPoco.csproj.nuget.g.props
/obj/Jiesen.DapperPoco.csproj.nuget.g.targets
/obj/project.assets.json
